.container{
  width: 120rem;
  background-color: var(--color-grey-c0);
  margin: 4rem auto;
  height: 20rem;
}

.header{
  height: 7rem;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-grey-c0);
}.navbar{
  background-color: lightseagreen;
}
.banner{
  background-color: blueviolet;
}
.content{
  background-color: brown;

}
.footer{
  background-color: orange;
}